button{
    font-family: Roboto, Arial;
    font-weight: 400;
    border-radius: 15px;
    user-select: none;
}

.application-buttons{
    display: flex;
    justify-content: space-between;
}

.menue-bar button{
    width: 12px;
    height: 12px;
    border-radius: 6px;
}

.exit-button{
    background-color: rgb(255,90,82);
    border: none;
}

.minimize-button{
    background-color: rgb(230,192,41);
    border: none;
}

.full-screen-button{
    background-color:  rgb(82,194,44);
    border: none;
}

.header button{
    background-color: rgba(98,64,210,255);
    color: white;
    height: 35px;
    width: 130px;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgba(80,57,165,255);
    cursor: pointer;
    font-size: 12px;
}

.mid-section-utility-buttons{
    margin-top: 135px;
}

.mid-section-utility-buttons button{
    background-color: rgba(17,213,137,255);
    color: white;
    height: 35px;
    width: 130px;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgba(42,173,132,255);
    cursor: pointer;
    font-size: 16px;
}

.button-save, .button-preview{
    margin-bottom: 20px;
}

button:active{
    opacity: 0.6;
    transition: 0.15s;
}

.button-submit{
    background-color: rgba(17,213,137,255);
    color: white;
    height: 22px;
    width: 60px;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgba(42,173,132,255);
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 12px;
}

#import-button {
    background-color: rgb(82,194,44);
    border: none;
}

#remove-button{
    background-color: rgb(255,90,82);
    border: none;
}

#view-home-button{
    font-size: 22px;
    background-color: rgb(97, 97, 98);
    padding-top: 3%;
    border: none;
    
}