body{
    margin: 0;
    background-color: rgba(4,22,51,255);
    font-family: Roboto, Arial;
    max-width: 1400px;
}

.menue-bar{
    display: flex;
    flex-direction: row;
}

.top-bar{
    display:flex;
    flex:1;
    height:25px;
    background-color: rgb(26,32,44);
    -webkit-app-region: drag;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(0, 0, 0);
}

.menue-bar-buttons{
    position: fixed;
    width: 53px;
    top: 3px;
    right: 11px;
    display: flex;
    justify-content: space-between;
    -webkit-app-region: no-drag;
}

.header{
    display: flex;
   justify-content: space-between;
    margin-top: 55px;
    margin-left: 40px;
    margin-right: 40px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(80,57,165,0.4);
    padding-bottom: 25px;
    user-select: none;
}

.main-section{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 30px;
    flex: 1;
    height: 300px;
}

.mid-section-utility-buttons{
    display: flex;
    flex-direction: column;

}

.values{
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 14px;
    margin-right: 50px;
    margin-left: 50px;
    user-select: none;
}

.main-section-center{
    width: 30%;
}

.main-section-right{
    width: 30%;
}